$navbar-width: 20%;

.dg-container {
  height: 100vh;
  min-height: 100vh;
  padding-top: 68px;
  position: relative;

  &__navbar {
    & ul {
      list-style-type: none;
      padding: 0;
    }
  }

  &__content {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-small) {
    padding-top: 103px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding-top: 0;

    &__navbar {
      height: 100vh;
      position: fixed;
      width: $navbar-width;
    }

    &__content {
      left: $navbar-width;
      position: absolute;
      width: calc(100% - #{$navbar-width});
    }
  }
}
