@import './variables';
@import './colors';
@import './container';
@import './navbar';
@import './icon';
@import './text';
@import './section';
@import './aside';
@import './welcome-page';
@import './timeline';

body {
  background-color: $color-light;
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
};
