.dg-navbar {
  background-color: $color-dark;

  &__image {
    border: 2px solid $color-light;
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
  }

  &__title {
    font-family: 'Pacifico', cursive;
  }

  &__item {
    cursor: pointer;
    padding-left: 20%;

    &:hover {
      // background-color: $color-muted;

      & .dg-navbar__item-link {
        color: $color-light;
      }
    }

    & .dg-navbar__item-link {
      color: $color-white-50;
      text-decoration: none;

      &--active {
        color: $color-light;
      }
    }
  }
}
